@{
  Layout = "_Layout";
}

<h1>Welcome to Animal Shelter Backend!</h1>
<p>@Html.ActionLink("See all animals!", "Index", "Animals")</p> 
<p>@Html.ActionLink("Search an animal...?", "Search", "Animals")</p>